@import 'styles/variables';

.trigger {
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 200px;
  cursor: pointer;

  border: $borderGrey;
}

.arrow {
  margin-right: 10px;
  margin-left: auto;
}

.label {
  margin-left: 10px;
}
