$colorGrey: #eaeae9;
$colorLightGrey: #f6f7f7;
$colorRed: #d70000;

$bgColorDark: #033954;

$borderColorGrey: $colorGrey;
$borderGrey: 1px solid $borderColorGrey;

$fontColorDarkGrey: #20242e;
$fontColorDarkGrey: #20242e;
