.list {
  list-style: none;

  // desktop
  li {
    &:before {
      content: '·';
      margin-right: 5px;
    }

    margin-left: 12px;
    display: inline-block;
    color: white;
    cursor: pointer;
  }
}
