@import 'styles/variables';

.footer {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgColorDark;
}

.logo {
  font-size: 25px;
  height: auto;
}
